.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  width: 80%;
  max-width: 600px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.message {
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 60%;
}

.message-ai {
  align-self: flex-start;
  background-color: #3498db;
}

.message-human {
  align-self: flex-end;
  background-color: orange;
}


.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  padding: 10px;
  width: 88%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 38px;
}

.input-container button:hover {
  background-color: #2980b9;
}

.recommendation-button {
  background-color: #2ecc71;
  border: none;
  color: white;
  cursor: pointer;
  height: 20px;
}
.recommendation-button:hover {
  background-color: #249b56;
}